
.btn-secondary {
  height: 40px;
  width: 145px;
  border-radius: 50px;
  line-height: 23px;
  font-family: $Lato;
  margin: 10px;
  background-color: $gray-violet;
  border: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 160;
  outline: none;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all 0.3s linear;
  .icon-arr-up{
    font-size: 3rem;
  }
}
@media (max-width: 992px){
  .btn-secondary{
    width: 60%;
  }
}