$white: #FFFFFF;
$dark-white: #FBFBFB;

$light-beige: #F6F6F4;
$gray-beige: #F3F1F1;

$light-gray: #BEBCBC;
$gray: #B3B4BA;
$dark-gray: #979797;

$light-violet: #B2B5C8;
$gray-violet: #8B8EA1;

$brown: #9D7255;
$light-brown: #A1775A;

$light-red: #D85054;
$light-green: #27A822;
$black: #0D0C0C;
