
.section-form{
  .row.right {
  position: relative;
  right: -12%;
}
h3{
  display: inline-block;
  position: relative;
  font-family: $Playfair;
  font-size: 2.5rem;
  margin: 70px auto 70px 50px;
  width: 70%;
  &.with-underline {
display: inline-block;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      pointer-events: none;
      display: block;
      width: 130px;
      margin-left: -15px;
      margin-top: 5px;
      border-bottom: 2px solid $brown;
    }
  }
}
  .col-5{

  }
  form{
    font-family: $Lato;
    opacity: 0.99;
    background-color: $white;
    h4{
      font-family: $Playfair;
    }
    .form-control{
      border: none;
      border-bottom: 2px solid $dark-gray;
      border-radius: 0;
    }
    span{
      color: $light-red;
    }
    .form-check{
      margin: 20px auto;
    }
    .form-check-input.is-invalid~.form-check-label{
      color: $black;
    }
    label {
      a{
        color: $brown;
      }
    }
    .btn-secondary{
      width: 90%;
    }
    p{
      text-align: center;
    }
  }

  .upper-img {
    position: relative;
    top: -220px;
    z-index: 100;
  }
}
@media (min-width: 993px){

}
@media (max-width: 992px){
  .section-form{
    min-height: 10vh;
    h3{
      font-size: 1.5rem;
      margin: 10px auto;
      text-align: center;
    }
   .container{
      background-color: $gray-beige;
     form{
       padding: 15px;
       margin: 10px auto;
     }
    }
  }
}
